html,body {
  height:100%;
}

* {
  margin:0;
  padding:0;
}

.wrapper{
  height:100%;
  overflow:hidden;
}

.top {
  top:0;
  height: 4.3em;
  border-bottom: .15em solid black;
  padding-left: 1em;

  color: white;
  font-weight: bold;
  text-shadow: -3px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  background: #c6ba94;
}

p.header {
  font-size: 4em;
  font-family: "Courier New", Courier, monospace;
}

#sub {
  font-size: .3em;
}

.left {
  width: 11em;
  float:left;
  min-height:100%;
  /*border-right: .15em solid black;*/

  background: #94a0c6;
}

.menu > li {
  padding-bottom: .7em;
  padding-left: .3em;


  text-align: left;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}

li.sign {
  bottom: 0;
  left: 0;
  position: fixed;
  width: inherit;

  color: black;
  vertical-align: text-bottom;
  font-size: 1em;
  font-family: Arial, serif, sans-serif;
  word-wrap: break-word;
}

.main {
  margin-left:5em;
  min-height:100%;

  background: #94a0c6;
 }


/***** LINK BEHAVIORS *****/
/* unvisited link */
a:link {
  color: black;
  font-weight:bold;
  text-decoration: none;
}

/* visited link */
a:visited {  
  color: black;
  font-weight:bold;
  text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: gray;
}

/* selected link */
a:active {
    color: #0000FF;
}