html,body {
  height:100%;
}

* {
  margin:0;
  padding:0;
}

.wrapper{
  height:100%;
  overflow:hidden;
}

div {
  box-shadow: .2em .2em .2em #888888;
  border-radius:20px;
  position: relative;
}


.top {
  min-height: 4.3em;
  max-width: 40em;
  padding-left: 2em;
  margin-top: .5em;
  margin-left: 1em;
  z-index: 5;

  color: blanchedalmond;
  font-weight: bold;
  text-shadow: -3px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  background: #F38630;
}

p.header {
  font-size: 4em;
  font-family: "Courier New", Courier, monospace;
}

.left {
  width: 12em;
  float:left;
  min-height:60%;
  margin-top: 2em;
  margin-left: .5em;
  background: #A7DBD8;
  z-index: 2;
}

.menu > li {
  padding-top: .2em;
  padding-bottom: .5em;
  padding-left: .3em;

  text-align: left;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}

#sign {
  width: inherit;

  font-size: 1em;
  font-family: Arial, serif, sans-serif;
  word-wrap: break-word;
}

.main {
  min-height:100%;
  max-width:50em;
  margin-left:4em;
  margin-top:-.5em;
  padding-left: 10em;
  padding-top: 2em;
  z-index: 0;

  background: #E0E4CC;
 }


/***** LINK BEHAVIORS *****/
/* unvisited link */
a:link {
  color: black;
  font-weight:bold;
  text-decoration: none;
}

/* visited link */
a:visited {  
  color: black;
  font-weight:bold;
  text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: gray;
}

/* selected link */
a:active {
    color: #0000FF;
}